
@model IEnumerable<Zinder.Models.FriendViewModel>

@{
    ViewBag.Title = "FriendRequest";
}

<h2>Friend Request</h2>

@foreach (var item in Model)
{


    <a class=" list-group-item" href="/Friend/FriendRequestUser/@item.ID">
        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
    </a>
    <input type="button" value="Add friend" onclick="location.href='@Url.Action("AcceptFriend", "Friend", new { requestId = item.RequesterId } )'" />
    <input type="button" value="Remove" onclick="location.href='@Url.Action("RemoveFriend", "Profile", new { requestId = item.RequesterId } )'" />

}