
@using Zinder.Models

@model ProfileListViewModel



@if (User.Identity.IsAuthenticated)
{
    <hr />

    <h2>Explore our users!</h2>

    <br />

    <div class="container">
        <div class="list-group col-md-4">
            @foreach (var profile in Model.Profiles)
            {
                <a href="/Search/UserProfile/@profile.ID"
                   class="list-group-item"><img src="@profile.ImageUrl" alt="Avatar-Image" class="img-thumbnail" style="height:40px;width:auto;" />
            - @profile.FirstName @profile.LastName</a>
            }
        </div>
    </div>
}
else
{
    <h2>Sign in to explore our users!</h2>
}