
@model IEnumerable<Zinder.Models.FriendViewModel>

@{
    ViewBag.Title = "Friend List";
}



@if (User.Identity.IsAuthenticated)
{
    <h2>Friend List</h2>

    <hr />

    foreach (var item in Model)
    {
        <a class=" list-group-item" href="/Search/UserProfile/@item.ID">
            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
        </a>
    }
}
else
{
    <hr />

    <h4>You have to sign in before you can access your friend list.</h4>
}