
@model Zinder.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}



@if (User.Identity.IsAuthenticated)
{
    if (!Model.Exists)
    {
        <div>
            <h2>Create your profile to get started!</h2>
            @Html.Partial("CreateProfile")
        </div>
    }
    else
    {
        <div>

            @Html.Partial("ViewProfile")

            <hr />

            @{ Html.RenderPartial("~/Views/Profile/EditProfile.cshtml", new Zinder.Models.ProfileViewModel()); }

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
            </p>
        </div>
    }
}
else
{
    <hr />
    <h4>You have to sign in before you can access your profile</h4>
}
